div {
	display: inline-block;

	button {
		padding: .5rem 1rem;
		font-size: 1rem;
		color: white;
		background-color: red;
		outline: none;
		border: none;

		&.active {
			background-color: green;
		}
	}
}
